In [625]:
import pandas as pd

In [626]:
e='econedu.csv'
ed=pd.read_csv(e)
print(ed)

    Year               Location  High School Graduation Rate  \
0   2005             California                          NaN
1   2005  San Bernardino County                          NaN
2   2006             California                          NaN
3   2006  San Bernardino County                          NaN
4   2007             California                          NaN
5   2007  San Bernardino County                          NaN
6   2008             California                          NaN
7   2008  San Bernardino County                          NaN
8   2009             California                          NaN
9   2009  San Bernardino County                          NaN
10  2010             California                         74.7
11  2010  San Bernardino County                         70.4
12  2011             California                         77.1
13  2011  San Bernardino County                         74.3
14  2012             California                         78.9
15  2012  San Bernardino County                         77.2
16  2013             California                         80.4
17  2013  San Bernardino County                         78.6
18  2014             California                         81.0
19  2014  San Bernardino County                         78.7

    Percentage of Adults Age 25 Years and Older with a Bachelor's Degree or Higher  \
0                                                29.5
1                                                17.4
2                                                29.0
3                                                17.4
4                                                29.5
5                                                18.1
6                                                29.6
7                                                17.9
8                                                29.9
9                                                18.6
10                                               30.1
11                                               18.6
12                                               30.3
13                                               18.2
14                                               30.9
15                                               18.5
16                                               31.0
17                                               19.1
18                                               31.7
19                                               18.9

    Median Household Income  Unemployment Rate
0                     53629                7.2
1                     49026                7.8
2                     56645                6.6
3                     52941                7.3
4                     59948                6.6
5                     56428                7.9
6                     61021                7.5
7                     55021               10.2
8                     58931               11.3
9                     52320               14.5
10                    57708               12.8
11                    52607               16.2
12                    57287               12.3
13                    51247               16.2
14                    58328               11.4
15                    50770               13.7
16                    60190               10.0
17                    52323               12.1
18                    61933                8.5
19                    52041               11.2

In [627]:
ed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
Year                                                                              20 non-null int64
Location                                                                          20 non-null object
High School Graduation Rate                                                       10 non-null float64
Percentage of Adults Age 25 Years and Older with a Bachelor's Degree or Higher    20 non-null float64
Median Household Income                                                           20 non-null int64
Unemployment Rate                                                                 20 non-null float64
dtypes: float64(3), int64(2), object(1)
memory usage: 1.0+ KB

In [628]:
ed1=ed[['Year','Median Household Income','Unemployment Rate']]
print(ed1)

    Year  Median Household Income  Unemployment Rate
0   2005                    53629                7.2
1   2005                    49026                7.8
2   2006                    56645                6.6
3   2006                    52941                7.3
4   2007                    59948                6.6
5   2007                    56428                7.9
6   2008                    61021                7.5
7   2008                    55021               10.2
8   2009                    58931               11.3
9   2009                    52320               14.5
10  2010                    57708               12.8
11  2010                    52607               16.2
12  2011                    57287               12.3
13  2011                    51247               16.2
14  2012                    58328               11.4
15  2012                    50770               13.7
16  2013                    60190               10.0
17  2013                    52323               12.1
18  2014                    61933                8.5
19  2014                    52041               11.2

In [629]:
cpov= 'EconomyChild_Poverty.csv'
ec=pd.read_csv(cpov)
print(ec)

            Year     USA      CA     SBC
0  7/1/2007 0:00     18%  17.30%  16.20%
1  7/1/2008 0:00  18.20%  18.50%  20.60%
2  7/1/2009 0:00     20%  19.90%  23.80%
3  7/1/2010 0:00  21.60%     22%  24.70%
4  7/1/2011 0:00  22.50%  22.80%  26.10%
5  7/1/2012 0:00  22.60%  23.80%  28.30%
6  7/1/2013 0:00  22.20%  23.50%  26.60%
7  7/1/2014 0:00  21.70%  22.70%  28.50%
8  7/1/2015 0:00  20.70%  21.20%  27.40%
9  7/1/2016 0:00  19.50%  19.90%     26%

In [630]:
ec['Year'].head(10)

0    7/1/2007 0:00
1    7/1/2008 0:00
2    7/1/2009 0:00
3    7/1/2010 0:00
4    7/1/2011 0:00
5    7/1/2012 0:00
6    7/1/2013 0:00
7    7/1/2014 0:00
8    7/1/2015 0:00
9    7/1/2016 0:00
Name: Year, dtype: object

In [631]:
ec['Year']=pd.to_datetime(ec['Year'])
ec['Year'].dt.year

0    2007
1    2008
2    2009
3    2010
4    2011
5    2012
6    2013
7    2014
8    2015
9    2016
Name: Year, dtype: int64

In [632]:
ehose='EconomyHousing_Affordability.csv'
eh=pd.read_csv(ehose)
print(eh)

            Year     USA      CA     SBC
0  7/2/2010 0:00  38.10%  48.80%  48.70%
1  7/3/2011 0:00  37.80%     48%     48%
2  7/1/2012 0:00  35.90%  46.80%  47.40%
3  7/1/2013 0:00  34.60%  44.70%  44.60%
4  7/1/2014 0:00  34.40%     44%  45.40%
5  7/1/2015 0:00  33.30%     43%  43.60%
6  7/1/2016 0:00  32.40%  42.60%  43.60%
7  7/1/2009 0:00  37.40%  48.30%  49.70%
8  7/1/2008 0:00  36.80%  48.70%  50.10%
9  7/1/2007 0:00  35.40%  46.90%  47.40%

In [633]:
eh['Year']=pd.to_datetime(eh['Year'])
eh['Year'].dt.year

0    2010
1    2011
2    2012
3    2013
4    2014
5    2015
6    2016
7    2009
8    2008
9    2007
Name: Year, dtype: int64

In [634]:
grace='gender_race.csv'
g=pd.read_csv(grace)
print(g)

    School Year Ending        Gender  \
0        1/1/2010 0:00        Female
1        1/1/2010 0:00          Male
2        1/1/2010 0:00        Female
3        1/1/2010 0:00          Male
4        1/1/2010 0:00        Female
5        1/1/2010 0:00          Male
6        1/1/2010 0:00        Female
7        1/1/2010 0:00          Male
8        1/1/2010 0:00        Female
9        1/1/2010 0:00          Male
10       1/1/2010 0:00        Female
11       1/1/2010 0:00          Male
12       1/1/2010 0:00        Female
13       1/1/2010 0:00          Male
14       1/1/2010 0:00        Female
15       1/1/2010 0:00          Male
16       1/1/2010 0:00        Female
17       1/1/2010 0:00          Male
18       1/1/2010 0:00        Female
19       1/1/2010 0:00          Male
20       1/1/2010 0:00  All Students
21       1/1/2011 0:00        Female
22       1/1/2011 0:00          Male
23       1/1/2011 0:00        Female
24       1/1/2011 0:00          Male
25       1/1/2011 0:00        Female
26       1/1/2011 0:00          Male
27       1/1/2011 0:00        Female
28       1/1/2011 0:00          Male
29       1/1/2011 0:00        Female
..                 ...           ...
96       1/1/2014 0:00        Female
97       1/1/2014 0:00          Male
98       1/1/2014 0:00        Female
99       1/1/2014 0:00          Male
100      1/1/2014 0:00        Female
101      1/1/2014 0:00          Male
102      1/1/2014 0:00        Female
103      1/1/2014 0:00          Male
104      1/1/2014 0:00  All Students
105      1/1/2015 0:00        Female
106      1/1/2015 0:00          Male
107      1/1/2015 0:00        Female
108      1/1/2015 0:00          Male
109      1/1/2015 0:00        Female
110      1/1/2015 0:00          Male
111      1/1/2015 0:00        Female
112      1/1/2015 0:00          Male
113      1/1/2015 0:00        Female
114      1/1/2015 0:00          Male
115      1/1/2015 0:00        Female
116      1/1/2015 0:00          Male
117      1/1/2015 0:00        Female
118      1/1/2015 0:00          Male
119      1/1/2015 0:00        Female
120      1/1/2015 0:00          Male
121      1/1/2015 0:00        Female
122      1/1/2015 0:00          Male
123      1/1/2015 0:00        Female
124      1/1/2015 0:00          Male
125      1/1/2015 0:00  All Students

                                     Race/Ethnicity  Cohort Students  \
0                    Hispanic or Latino of Any Race             8858
1                    Hispanic or Latino of Any Race             9340
2    American Indian or Alaska Native, Not Hispanic              113
3    American Indian or Alaska Native, Not Hispanic              100
4                               Asian, Not Hispanic              532
5                               Asian, Not Hispanic              559
6                    Pacific Islander, Not Hispanic              110
7                    Pacific Islander, Not Hispanic               97
8                            Filipino, Not Hispanic              254
9                            Filipino, Not Hispanic              263
10                   African American, Not Hispanic             1853
11                   African American, Not Hispanic             2001
12                              White, Not Hispanic             4403
13                              White, Not Hispanic             4611
14                  Two or More Races, Not Hispanic              131
15                  Two or More Races, Not Hispanic              129
16                                     Not Reported               71
17                                     Not Reported               76
18                                     All Students            16325
19                                     All Students            17176
20                                     All Students            33501
21                   Hispanic or Latino of Any Race             9779
22                   Hispanic or Latino of Any Race            10231
23   American Indian or Alaska Native, Not Hispanic              101
24   American Indian or Alaska Native, Not Hispanic              104
25                              Asian, Not Hispanic              583
26                              Asian, Not Hispanic              562
27                   Pacific Islander, Not Hispanic               88
28                   Pacific Islander, Not Hispanic               99
29                           Filipino, Not Hispanic              250
..                                              ...              ...
96                              White, Not Hispanic             3526
97                              White, Not Hispanic             3875
98                  Two or More Races, Not Hispanic              217
99                  Two or More Races, Not Hispanic              247
100                                    Not Reported               28
101                                    Not Reported               28
102                                    All Students            16136
103                                    All Students            17055
104                                    All Students            33191
105                  Hispanic or Latino of Any Race             9855
106                  Hispanic or Latino of Any Race            10303
107  American Indian or Alaska Native, Not Hispanic               72
108  American Indian or Alaska Native, Not Hispanic               94
109                             Asian, Not Hispanic              616
110                             Asian, Not Hispanic              557
111                  Pacific Islander, Not Hispanic               87
112                  Pacific Islander, Not Hispanic               88
113                          Filipino, Not Hispanic              254
114                          Filipino, Not Hispanic              266
115                  African American, Not Hispanic             1553
116                  African American, Not Hispanic             1635
117                             White, Not Hispanic             3391
118                             White, Not Hispanic             3534
119                 Two or More Races, Not Hispanic              259
120                 Two or More Races, Not Hispanic              219
121                                    Not Reported               20
122                                    Not Reported               33
123                                    All Students            16107
124                                    All Students            16729
125                                    All Students            32836

     Cohort Graduates  Cohort Graduation Rate  Cohort Dropouts  \
0                6534                    73.8           1452.0
1                5785                    61.9           2314.0
2                  76                    67.3             23.0
3                  55                    55.0             35.0
4                 485                    91.2             38.0
5                 492                    88.0             40.0
6                  82                    74.6             22.0
7                  69                    71.1             15.0
8                 229                    90.2             15.0
9                 228                    86.7             19.0
10               1262                    68.1            397.0
11               1063                    53.1            591.0
12               3583                    81.4            575.0
13               3392                    73.6            764.0
14                108                    82.4              NaN
15                 87                    67.4             24.0
16                 37                    52.1             33.0
17                 31                    40.8             40.0
18              12396                    75.9           2564.0
19              11202                    65.2           3842.0
20              23598                    70.4           6406.0
21               7549                    77.2           1348.0
22               6755                    66.0           2155.0
23                 78                    77.2             14.0
24                 69                    66.4             19.0
25                537                    92.1             33.0
26                484                    86.1             42.0
27                 69                    78.4             14.0
28                 69                    69.7             16.0
29                237                    94.8              NaN
..                ...                     ...              ...
96               3047                    86.4            259.0
97               3111                    80.3            439.0
98                174                    80.2             19.0
99                192                    77.7             29.0
100                14                    50.0             12.0
101                15                    53.6              NaN
102             13395                    83.0           1544.0
103             12730                    74.6           2495.0
104             26125                    78.7           4039.0
105              8281                    84.0            886.0
106              7806                    75.8           1511.0
107                56                    77.8             12.0
108                65                    69.2             13.0
109               575                    93.3             28.0
110               508                    91.2             31.0
111                81                    93.1              NaN
112                74                    84.1              NaN
113               247                    97.2              NaN
114               252                    94.7              NaN
115              1193                    76.8            227.0
116              1107                    67.7            336.0
117              2960                    87.3            230.0
118              2881                    81.5            381.0
119               217                    83.8             19.0
120               178                    81.3             24.0
121                13                    65.0              NaN
122                15                    45.5             16.0
123             13623                    84.6           1414.0
124             12886                    77.0           2326.0
125             26509                    80.7           3740.0

     Cohort Dropouts Rate  Cohort Special Ed Completers  \
0                    16.4                          17.0
1                    24.8                          26.0
2                    20.4                           NaN
3                    35.0                           NaN
4                     7.1                           NaN
5                     7.2                           NaN
6                    20.0                           NaN
7                    15.5                           NaN
8                     5.9                           NaN
9                     7.2                           NaN
10                   21.4                           NaN
11                   29.5                           NaN
12                   13.1                           NaN
13                   16.6                           NaN
14                    6.9                           NaN
15                   18.6                           NaN
16                   46.5                           NaN
17                   52.6                           NaN
18                   15.7                          29.0
19                   22.4                          41.0
20                   19.1                          70.0
21                   13.8                          18.0
22                   21.1                          29.0
23                   13.9                           NaN
24                   18.3                           NaN
25                    5.7                           NaN
26                    7.5                           NaN
27                   15.9                           NaN
28                   16.2                           NaN
29                    2.0                           NaN
..                    ...                           ...
96                    7.3                           NaN
97                   11.3                           NaN
98                    8.8                           NaN
99                   11.7                           NaN
100                  42.9                           NaN
101                  35.7                           NaN
102                   9.6                          22.0
103                  14.6                          49.0
104                  12.2                          71.0
105                   9.0                          12.0
106                  14.7                          29.0
107                  16.7                           NaN
108                  13.8                           NaN
109                   4.5                           NaN
110                   5.6                           NaN
111                   3.4                           NaN
112                   9.1                           NaN
113                   1.2                           NaN
114                   2.3                           NaN
115                  14.6                           NaN
116                  20.6                           NaN
117                   6.8                           NaN
118                  10.8                          11.0
119                   7.3                           NaN
120                  11.0                           NaN
121                  30.0                           NaN
122                  48.5                           NaN
123                   8.8                          28.0
124                  13.9                          48.0
125                  11.4                          76.0

     Cohort Special Ed Completers Rate  Cohort Still Enrolled  \
0                                  0.2                  846.0
1                                  0.3                 1193.0
2                                  0.0                   14.0
3                                  1.0                    NaN
4                                  0.0                    NaN
5                                  0.2                   24.0
6                                  0.0                    NaN
7                                  0.0                   12.0
8                                  0.4                    NaN
9                                  0.8                   13.0
10                                 0.3                  186.0
11                                 0.2                  334.0
12                                 0.1                  232.0
13                                 0.1                  433.0
14                                 0.0                   14.0
15                                 0.0                   18.0
16                                 0.0                    NaN
17                                 1.3                    NaN
18                                 0.2                 1314.0
19                                 0.2                 2040.0
20                                 0.2                 3354.0
21                                 0.2                  849.0
22                                 0.3                 1252.0
23                                 0.0                    NaN
24                                 1.9                   13.0
25                                 0.0                   13.0
26                                 0.2                   33.0
27                                 0.0                    NaN
28                                 0.0                   14.0
29                                 0.0                    NaN
..                                 ...                    ...
96                                 0.2                  212.0
97                                 0.2                  311.0
98                                 0.0                   24.0
99                                 0.8                   24.0
100                                0.0                    NaN
101                                0.0                    NaN
102                                0.1                 1171.0
103                                0.3                 1737.0
104                                0.2                 2908.0
105                                0.1                  675.0
106                                0.3                  946.0
107                                0.0                    NaN
108                                1.1                   15.0
109                                0.0                   13.0
110                                0.2                   16.0
111                                0.0                    NaN
112                                0.0                    NaN
113                                0.4                    NaN
114                                0.4                    NaN
115                                0.3                  128.0
116                                0.3                  187.0
117                                0.2                  189.0
118                                0.3                  257.0
119                                0.8                   21.0
120                                0.0                   17.0
121                                0.0                    NaN
122                                0.0                    NaN
123                                0.2                 1037.0
124                                0.3                 1453.0
125                                0.2                 2490.0

     Cohort Still Enrolled Rate  Cohort GED Completer  \
0                           9.6                   NaN
1                          12.8                  22.0
2                          12.4                   NaN
3                           9.0                   NaN
4                           1.3                   NaN
5                           4.3                   NaN
6                           5.5                   NaN
7                          12.4                   NaN
8                           3.1                   NaN
9                           4.9                   NaN
10                         10.0                   NaN
11                         16.7                   NaN
12                          5.3                   NaN
13                          9.4                  17.0
14                         10.7                   NaN
15                         14.0                   NaN
16                          1.4                   NaN
17                          5.3                   NaN
18                          8.0                  22.0
19                         11.9                  51.0
20                         10.0                  73.0
21                          8.7                  15.0
22                         12.2                  40.0
23                          8.9                   NaN
24                         12.5                   NaN
25                          2.2                   NaN
26                          5.9                   NaN
27                          5.7                   NaN
28                         14.1                   NaN
29                          3.2                   NaN
..                          ...                   ...
96                          6.0                   NaN
97                          8.0                   NaN
98                         11.1                   NaN
99                          9.7                   NaN
100                         7.1                   NaN
101                         7.1                   NaN
102                         7.3                   NaN
103                        10.2                  44.0

In [635]:
g.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 14 columns):
School Year Ending                   126 non-null object
Gender                               126 non-null object
Race/Ethnicity                       126 non-null object
Cohort Students                      126 non-null int64
Cohort Graduates                     126 non-null int64
Cohort Graduation Rate               126 non-null float64
Cohort Dropouts                      103 non-null float64
Cohort Dropouts Rate                 126 non-null float64
Cohort Special Ed Completers         32 non-null float64
Cohort Special Ed Completers Rate    126 non-null float64
Cohort Still Enrolled                86 non-null float64
Cohort Still Enrolled Rate           126 non-null float64
Cohort GED Completer                 25 non-null float64
Cohort GED Completer Rate            126 non-null float64
dtypes: float64(9), int64(2), object(3)
memory usage: 13.9+ KB

In [636]:
g1=g[['School Year Ending','Gender','Race/Ethnicity','Cohort Students','Cohort Graduates','Cohort Graduation Rate']]
print(g1)

    School Year Ending        Gender  \
0        1/1/2010 0:00        Female
1        1/1/2010 0:00          Male
2        1/1/2010 0:00        Female
3        1/1/2010 0:00          Male
4        1/1/2010 0:00        Female
5        1/1/2010 0:00          Male
6        1/1/2010 0:00        Female
7        1/1/2010 0:00          Male
8        1/1/2010 0:00        Female
9        1/1/2010 0:00          Male
10       1/1/2010 0:00        Female
11       1/1/2010 0:00          Male
12       1/1/2010 0:00        Female
13       1/1/2010 0:00          Male
14       1/1/2010 0:00        Female
15       1/1/2010 0:00          Male
16       1/1/2010 0:00        Female
17       1/1/2010 0:00          Male
18       1/1/2010 0:00        Female
19       1/1/2010 0:00          Male
20       1/1/2010 0:00  All Students
21       1/1/2011 0:00        Female
22       1/1/2011 0:00          Male
23       1/1/2011 0:00        Female
24       1/1/2011 0:00          Male
25       1/1/2011 0:00        Female
26       1/1/2011 0:00          Male
27       1/1/2011 0:00        Female
28       1/1/2011 0:00          Male
29       1/1/2011 0:00        Female
..                 ...           ...
96       1/1/2014 0:00        Female
97       1/1/2014 0:00          Male
98       1/1/2014 0:00        Female
99       1/1/2014 0:00          Male
100      1/1/2014 0:00        Female
101      1/1/2014 0:00          Male
102      1/1/2014 0:00        Female
103      1/1/2014 0:00          Male
104      1/1/2014 0:00  All Students
105      1/1/2015 0:00        Female
106      1/1/2015 0:00          Male
107      1/1/2015 0:00        Female
108      1/1/2015 0:00          Male
109      1/1/2015 0:00        Female
110      1/1/2015 0:00          Male
111      1/1/2015 0:00        Female
112      1/1/2015 0:00          Male
113      1/1/2015 0:00        Female
114      1/1/2015 0:00          Male
115      1/1/2015 0:00        Female
116      1/1/2015 0:00          Male
117      1/1/2015 0:00        Female
118      1/1/2015 0:00          Male
119      1/1/2015 0:00        Female
120      1/1/2015 0:00          Male
121      1/1/2015 0:00        Female
122      1/1/2015 0:00          Male
123      1/1/2015 0:00        Female
124      1/1/2015 0:00          Male
125      1/1/2015 0:00  All Students

                                     Race/Ethnicity  Cohort Students  \
0                    Hispanic or Latino of Any Race             8858
1                    Hispanic or Latino of Any Race             9340
2    American Indian or Alaska Native, Not Hispanic              113
3    American Indian or Alaska Native, Not Hispanic              100
4                               Asian, Not Hispanic              532
5                               Asian, Not Hispanic              559
6                    Pacific Islander, Not Hispanic              110
7                    Pacific Islander, Not Hispanic               97
8                            Filipino, Not Hispanic              254
9                            Filipino, Not Hispanic              263
10                   African American, Not Hispanic             1853
11                   African American, Not Hispanic             2001
12                              White, Not Hispanic             4403
13                              White, Not Hispanic             4611
14                  Two or More Races, Not Hispanic              131
15                  Two or More Races, Not Hispanic              129
16                                     Not Reported               71
17                                     Not Reported               76
18                                     All Students            16325
19                                     All Students            17176
20                                     All Students            33501
21                   Hispanic or Latino of Any Race             9779
22                   Hispanic or Latino of Any Race            10231
23   American Indian or Alaska Native, Not Hispanic              101
24   American Indian or Alaska Native, Not Hispanic              104
25                              Asian, Not Hispanic              583
26                              Asian, Not Hispanic              562
27                   Pacific Islander, Not Hispanic               88
28                   Pacific Islander, Not Hispanic               99
29                           Filipino, Not Hispanic              250
..                                              ...              ...
96                              White, Not Hispanic             3526
97                              White, Not Hispanic             3875
98                  Two or More Races, Not Hispanic              217
99                  Two or More Races, Not Hispanic              247
100                                    Not Reported               28
101                                    Not Reported               28
102                                    All Students            16136
103                                    All Students            17055
104                                    All Students            33191
105                  Hispanic or Latino of Any Race             9855
106                  Hispanic or Latino of Any Race            10303
107  American Indian or Alaska Native, Not Hispanic               72
108  American Indian or Alaska Native, Not Hispanic               94
109                             Asian, Not Hispanic              616
110                             Asian, Not Hispanic              557
111                  Pacific Islander, Not Hispanic               87
112                  Pacific Islander, Not Hispanic               88
113                          Filipino, Not Hispanic              254
114                          Filipino, Not Hispanic              266
115                  African American, Not Hispanic             1553
116                  African American, Not Hispanic             1635
117                             White, Not Hispanic             3391
118                             White, Not Hispanic             3534
119                 Two or More Races, Not Hispanic              259
120                 Two or More Races, Not Hispanic              219
121                                    Not Reported               20
122                                    Not Reported               33
123                                    All Students            16107
124                                    All Students            16729
125                                    All Students            32836

     Cohort Graduates  Cohort Graduation Rate
0                6534                    73.8
1                5785                    61.9
2                  76                    67.3
3                  55                    55.0
4                 485                    91.2
5                 492                    88.0
6                  82                    74.6
7                  69                    71.1
8                 229                    90.2
9                 228                    86.7
10               1262                    68.1
11               1063                    53.1
12               3583                    81.4
13               3392                    73.6
14                108                    82.4
15                 87                    67.4
16                 37                    52.1
17                 31                    40.8
18              12396                    75.9
19              11202                    65.2
20              23598                    70.4
21               7549                    77.2
22               6755                    66.0
23                 78                    77.2
24                 69                    66.4
25                537                    92.1
26                484                    86.1
27                 69                    78.4
28                 69                    69.7
29                237                    94.8
..                ...                     ...
96               3047                    86.4
97               3111                    80.3
98                174                    80.2
99                192                    77.7
100                14                    50.0
101                15                    53.6
102             13395                    83.0
103             12730                    74.6
104             26125                    78.7
105              8281                    84.0
106              7806                    75.8
107                56                    77.8
108                65                    69.2
109               575                    93.3
110               508                    91.2
111                81                    93.1
112                74                    84.1
113               247                    97.2
114               252                    94.7
115              1193                    76.8
116              1107                    67.7
117              2960                    87.3
118              2881                    81.5
119               217                    83.8
120               178                    81.3
121                13                    65.0
122                15                    45.5
123             13623                    84.6
124             12886                    77.0
125             26509                    80.7

[126 rows x 6 columns]

In [637]:
g1['School Year Ending']=pd.to_datetime(g1['School Year Ending'])
g1['School Year Ending'].dt.year

C:\Users\Kevin Bryson\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0      2010
1      2010
2      2010
3      2010
4      2010
5      2010
6      2010
7      2010
8      2010
9      2010
10     2010
11     2010
12     2010
13     2010
14     2010
15     2010
16     2010
17     2010
18     2010
19     2010
20     2010
21     2011
22     2011
23     2011
24     2011
25     2011
26     2011
27     2011
28     2011
29     2011
       ...
96     2014
97     2014
98     2014
99     2014
100    2014
101    2014
102    2014
103    2014
104    2014
105    2015
106    2015
107    2015
108    2015
109    2015
110    2015
111    2015
112    2015
113    2015
114    2015
115    2015
116    2015
117    2015
118    2015
119    2015
120    2015
121    2015
122    2015
123    2015
124    2015
125    2015
Name: School Year Ending, Length: 126, dtype: int64

In [638]:
g2=g1.groupby(['School Year Ending','Gender'])['Race/Ethnicity','Cohort Students','Cohort Graduates','Cohort Graduation Rate'].mean()
print(g2)

                                 Cohort Students  Cohort Graduates  \
School Year Ending Gender
2010-01-01         All Students          33501.0           23598.0
                   Female                 3265.0            2479.2
                   Male                   3435.2            2240.4
2011-01-01         All Students          34989.0           26002.0
                   Female                 3416.4            2713.2
                   Male                   3581.4            2487.2
2012-01-01         All Students          33872.0           26153.0
                   Female                 3328.6            2739.2
                   Male                   3445.8            2491.4
2013-01-01         All Students          33325.0           26197.0
                   Female                 3274.2            2713.0
                   Male                   3390.8            2526.4
2014-01-01         All Students          33191.0           26125.0
                   Female                 3227.2            2679.0
                   Male                   3411.0            2546.0
2015-01-01         All Students          32836.0           26509.0
                   Female                 3221.4            2724.6
                   Male                   3345.8            2577.2

                                 Cohort Graduation Rate
School Year Ending Gender
2010-01-01         All Students                   70.40
                   Female                         75.70
                   Male                           66.28
2011-01-01         All Students                   74.30
                   Female                         80.55
                   Male                           69.60
2012-01-01         All Students                   77.20
                   Female                         82.15
                   Male                           73.73
2013-01-01         All Students                   78.60
                   Female                         82.76
                   Male                           75.03
2014-01-01         All Students                   78.70
                   Female                         81.48
                   Male                           75.76
2015-01-01         All Students                   80.70
                   Female                         84.29
                   Male                           76.80

In [639]:
g2=g2.reset_index()
print(g2)

   School Year Ending        Gender  Cohort Students  Cohort Graduates  \
0          2010-01-01  All Students          33501.0           23598.0
1          2010-01-01        Female           3265.0            2479.2
2          2010-01-01          Male           3435.2            2240.4
3          2011-01-01  All Students          34989.0           26002.0
4          2011-01-01        Female           3416.4            2713.2
5          2011-01-01          Male           3581.4            2487.2
6          2012-01-01  All Students          33872.0           26153.0
7          2012-01-01        Female           3328.6            2739.2
8          2012-01-01          Male           3445.8            2491.4
9          2013-01-01  All Students          33325.0           26197.0
10         2013-01-01        Female           3274.2            2713.0
11         2013-01-01          Male           3390.8            2526.4
12         2014-01-01  All Students          33191.0           26125.0
13         2014-01-01        Female           3227.2            2679.0
14         2014-01-01          Male           3411.0            2546.0
15         2015-01-01  All Students          32836.0           26509.0
16         2015-01-01        Female           3221.4            2724.6
17         2015-01-01          Male           3345.8            2577.2

    Cohort Graduation Rate
0                    70.40
1                    75.70
2                    66.28
3                    74.30
4                    80.55
5                    69.60
6                    77.20
7                    82.15
8                    73.73
9                    78.60
10                   82.76
11                   75.03
12                   78.70
13                   81.48
14                   75.76
15                   80.70
16                   84.29
17                   76.80

In [640]:
hi='Health_Insurance.csv'
h=pd.read_csv(hi)
print(h)

            YEAR      US      CA      SB
0  7/1/2008 0:00  83.45%  80.80%  79.15%
1  7/1/2009 0:00  82.75%  79.91%  78.47%
2  7/1/2010 0:00  82.26%  79.32%  77.47%
3  7/1/2011 0:00  82.66%  79.82%  78.30%
4  7/1/2012 0:00  82.99%  79.98%  78.36%
5  7/1/2013 0:00  83.21%  80.62%  79.57%
6  7/1/2014 0:00  86.46%  85.95%  85.29%
7  7/1/2015 0:00  89.08%  90.28%  90.34%

In [641]:
h['YEAR']=pd.to_datetime(h['YEAR'])
h.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
YEAR    8 non-null datetime64[ns]
US      8 non-null object
CA      8 non-null object
SB      8 non-null object
dtypes: datetime64[ns](1), object(3)
memory usage: 336.0+ bytes